@charset "UTF-8";
<STYLE TYPE="text/css">
#head { position: absolute;
		top: 0px;
}
#head A:hover { color: white; }
#head A { color: white; }
#foot { background-color: #FDFDFD;
 }
#content { position: absolute;
		top: 140px;
		left: 157px;
		width: 645px;
		background-color: #FDFDFD; 
}
#content TH { background-color: #CCCCCC;
		text-align:center;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 125%;
}
BODY {  text-color: #262626;
	background-color: #FDFDFD;
}
A {		text-decoration:none;
}
A:hover { color: red;
		text-decoration:none;
}
H1 { color: black;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
}
H2 { color: black;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
}
H3 { color: black;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
}
UL { margin-top: 0;
     border-top-width: 0;
     padding-top: 0;
}
DT { font-weight: bold;
}
PRE { font-size: 105%;
}
CODE { font-size: 105%;
}
.TOC { font-size: 90%;
       font-weight: bold;
       font-family: Arial, Helvetica, sans-serif;
}
TH.COLORED { background-color: #FFAD00;
}
TR.COLORED { background-color: #FFAD00;
}
TH.TITLE   { background-color: #EF8429;
             font-size: 28px;
             font-family: Arial, Helvetica, sans-serif;
}
.mobile-header {
  color: #CACACA;
  vertical-align: top;
  text-align:left;
}

.featurette-divider {
  margin: 25px 0;
}

.carousel {
  height: auto;
  background-size: cover; 
  margin-bottom: 0px;
  max-width:1400px;
}
  
.carousel-control {
  margin-left: 15px;
  margin-right: 15px;
)

H2 {
  background-color: #801618;
  color:#EEE;
  text-align:center;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
}

.featurette-heading {
  background-color: #EEE;
  border-radius: 10px;
  padding: 5px;
  margin-top: 1px;
}

.navbar-inverse {
  color: #EDEDED;
  border-color: #801618;
  background-color: #801618;
}

.navbar-nav {
  color: #EDEDED;
  border-color: #801618;
  background-color: #801618;
}
.navbar-default .navbar-toggle .icon-bar {
  color: #EDEDED;
  border-color: #801618;
}

.navbar-inverse .navbar-brand {
  color: #EDEDED;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #EDEDED;
}
.navbar-inverse .navbar-nav > li > a {
  color: #EDEDED;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #801618;
  background-color: #EDEDED;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #801618;
  background-color: #EDEDED;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #EDEDED;
  }
  .icon-bar {
    background-color: #EDEDED;
    color: #801618;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #EDEDED;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #EDEDED;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #EDEDED;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #801618;
    background-color: #EDEDED;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #801618;
    background-color: transparent;
  }
}

/*
 * Footer
 */

.standard-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  align-content:center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.standard-footer p:last-child {
  margin-bottom: 0;
}
.jumbotron2 {
  background-size: cover;
  color: #990000;
  background-color: #eee;
  margin-top: 0px;
  padding: 1% 1% 1% 1%;
  margin-bottom: 0px;
  text-shadow: black 0.1em 0.1em 0.1em;
  text-align:center;
}
.jumbotron2 h2,
.jumbotron2 .h2 {
  color: #990000;
  font-size: 36px;
}
.sidebar-module-inset {
  background-color: #ebf5fc;
  padding: 10px;
}

</STYLE>